@charset "utf-8";


/**BASELINE**/

* {	
	font-family:Arial, Helvetica, sans-serif;
	margin:0px;
}

.clear {clear:both;}
.left {float:left;}
.right {float:right;}

a img {border: 0px;}

img.middle {vertical-align:middle;}

/* ########################################################################## */

#header {
	background-image:url(/apps/administration/static/images/bg_header.jpg);
	background-repeat:repeat-x;
	text-align:right;
	width:100%;
	height:30px;
	}

#mainheader {
	margin:0 auto;
	width:1037px;
	}

#mainheader .menuheader {
	margin-left:-39px;
	float:left;
	color:white;
	font-weight:bold; 
	font-size:10pt;
	width:390px;
	}

#mainheader a {
	color:white;
	text-decoration:none;
	border-bottom:solid 5px #aad373;
	}

#mainheader li {
	float:left;
	list-style-type:none;
	display:inline;
	padding:-1px 0px; /*Separar el texto*/
        margin:-0.5px; /* Separar los botones */
	}

#mainheader ul {
	margin:-21px 0px 0px 0px;
	}

#mainheader .logout {
	font-style:none;
	color:white;
	border:none;
	}

#searchForm {
	color:white;
	} 

#qt_aux {
	background-image: url(/apps/administration/static/images/lupa.jpg);
	background-repeat:no-repeat;	
	background-position:right;
	text-align:right;
	padding-right:20px;
	height:14px;
	margin-top:5px;
	font-size:11px;
	}
	
span.deactivated {color:#cccccc;}

/* ########################################################################## */

#subheader {
	background-image:url(/apps/administration/static/images/bg_baner.jpg);
	background-repeat:repeat-x;
	text-align:right;
	width:100%;
	height:71px;
	}

#mainsubheader {
	margin:0 auto;
	width:1037px;
	}

#mainsubheader .banner {
	float:right;
    	}

#mainsubheader .logo {
	float:left;
    	}

/* ########################################################################## */

#dir {
	padding:0 9% 0 9%;
	clear:both;
	font-size:10pt;
	text-decoration:none;
	height:22px;
	padding-top:3px;	text-align:left;
	border:1px solid #CCC;
	padding-left:9%;
   	}

#maindir {
	margin:0 auto;
	width:1037px;
	}

#dir .final {
	color:#8cc63e;
	text-decoration:none;
	font-weight:bold;
	}

#dir a {
	color:black;
	text-decoration:none;
	}

/* ########################################################################## */

#maincontainer {
	margin:0 auto;
	width:1037px;
	}

#maintitle {
	background-image: url(/apps/administration/static/images/caja_h1.jpg);
	background-repeat:no-repeat;
	width:97%;
	height:48px;
	padding-top:7px;
	float:left;
	text-align:left;	
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold; 
	padding-left:20px;
	margin-top: 10px;
	margin-bottom:10px;
	}

#mainsearch {
	width:97%;
	height:48px;
	padding-top:7px;
	float:left;
	text-align:left;	
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold; 
	padding-left:20px;
	margin-bottom:10px;
	}

/* ########################################################################## */

#container {
	width:75%;
	height:auto;
	float:left;
	padding-left:0px;
	margin-right:0px;
	border-right:solid 1px #CCC;
	margin-bottom:30px;
	}

#subcontainer {
	height:auto;
	padding-bottom:20px;
	border-bottom:solid 1px #CCC;
	}

#subcontainer .url {
	float:left;
	text-decoration:none;
	color:black;
	background-image: url(/apps/administration/static/images/icon_carpeta_peq.jpg);
	background-repeat:no-repeat;
	padding-left:50px;
	height:50px;
	padding-top:5px;
	font-weight:200;
	clear:both;
	}

#subcontainer .urlsource {
	float:left;
	text-decoration:none;
	color:black;
	/*background-image: url(/apps/administration/static/images/icon_carpeta_peq.jpg);*/
	background-repeat:no-repeat;
	padding-left:50px;
	height:50px;
	padding-top:5px;
	font-weight:200;
	clear:both;
	} 

#subcontainer .url2 {
	float:left;
	text-decoration:none;
	color:black;
	background-image: url(/apps/administration/static/images/icon_portafolio.jpg);
	background-repeat:no-repeat;
	padding-left:75px;
	height:50px;
	padding-top:8px;
	font-weight:200;
clear:both;
	} 

#subcontainer .delete {
	float:right;
	text-decoration:none;
	color:red;
	margin-right:3%;
	font-size:11px;
	} 

#separador {
    	width:auto;
	height:auto;
	font-weight:lighter;  
	clear:both;
	}

#separador2 {
    	margin-top:5px;
	margin-bottom:10px;
	height:1px;
	border-bottom:solid 1px #CCC;
	clear:both;
	}

#separador3 {
    	width:auto;
	height:auto;
	font-weight:lighter;  
	clear:both;
	padding-top:20px;
	}


/* ########################################################################## */

#data {
	width:62%;
	height:auto;
	float:left;
	margin-bottom:30px;
	padding-top:10px;
	}

#data .guardar {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_guardar.jpg);
     	background-repeat:no-repeat;
	width:141px;
	height:26px;
	}

#data .input {
	width:97%;
	margin-bottom:5px;
	}
	
#caja {
	margin-top:15px;
	color:#FFF;
	width:100%
	height:auto;
	padding-bottom:0px;
	clear:both;
	background-image: url(/apps/administration/static/images/caja_middle.jpg);
	background-repeat:repeat-y;
	}
	
#caja .url {
	float:left;
	text-decoration:none;
	color:#FFF;
	margin-left:10px;
	} 

#caja .urlcat {
	text-decoration:none;
	color:#FFF;
	background-image: url(/apps/administration/static/images/arrow_green_small.png);
	background-repeat:no-repeat;
	background-position:0;
	padding-left:20px;
	padding-top:5px;
	font-weight:200;
	clear:both;
	} 

#caja .delete {
	float:right;
	text-decoration:none;
	color:red;
	margin-right:90px;
	font-size:11px;
	} 

#caja .files {
	text-decoration:none;
	font-size:10px;
	} 


#caja b {
	font-size:16px;
	} 



#caja .source2 {
	padding-top:5px;
	padding-bottom:5px;
	height:auto;
	}

#caja .corner-up {
	background-image: url(/apps/administration/static/images/caja_top.jpg);
	background-repeat:no-repeat;
	height:32px;
	width:auto;
	float:top;
	padding-top:10px;
	padding-left:10px;
	}

#caja .corner-down {
	background-image: url(/apps/administration/static/images/caja_bottom.jpg);
	background-repeat:no-repeat;
	background-position:0px 0px 0px 0px;
	height:20px;
	width:auto;
	background-color:white;
	float:top;
	padding-top:0px;
	padding-left:-15px;
	}

#caja .objeto {
	margin-top:15px;
	color:#FFF;
	width:550px;
	height:auto;
	padding-bottom:0px;
	padding-left:0px;
	clear:both;
	background-image: url(/apps/administration/static/images/caja_middle.jpg);
	background-repeat:repeat-y;
	}

/* ########################################################################## */

#video {
	float:right;
	margin-top:20px;
	margin-right:2%;
	}

/* ########################################################################## */

#menu {
    	float:left;	height:auto;
	width:auto;
	position:relative;
	text-align:left;
	}

#opciones {
	float:right;
	width:250px;
	height:auto;
	text-align:left;
	margin-bottom:0px;
	}	


#createsource {
	display:none;
	margin-left:15px;
	width:auto;
	}

#createsource .btnewsource {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:65px;
	background-image:url(/apps/administration/static/images/btup.jpg);
     	background-repeat:no-repeat;
	}

.btnewsubcat {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:65px;
	background-image:url(/apps/administration/static/images/btup.jpg);
     	background-repeat:no-repeat;
	}

.btnewvote {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:65px;
	background-image:url(/apps/administration/static/images/btvotar.jpg);
     	background-repeat:no-repeat;
	}

.btpublicar {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:100px;
	background-image:url(/apps/administration/static/images/btpublicar.jpg);
     	background-repeat:no-repeat;
	}
	
.btcopiar {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:65px;
	background-image:url(/apps/administration/static/images/btcopiar.jpg);
     	background-repeat:no-repeat;
	}
	
.bttraducir {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:100px;
	background-image:url(/apps/administration/static/images/bttraducir.jpg);
     	background-repeat:no-repeat;
	}

.btasignar {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:65px;
	background-image:url(/apps/administration/static/images/btasignar.jpg);
     	background-repeat:no-repeat;
	}

#createsource .selectfile {
	background:black;
	color:white;	
	border:none;
	font-weight:bold; 
	height:25px;
	width:100px;
/*	background-image:url(/apps/administration/static/images/btup.jpg);
     	background-repeat:no-repeat;*/
	}

.combo{
	font-size: 100%;
	color: #000;
	line-height: 15px;
	BORDER-LEFT: #878E96 1px solid;
	BORDER-RIGHT: #878E96 1px solid; 
  	BORDER-TOP: #878E96 1px solid;
  	BORDER-BOTTOM: #878E96 1px solid;
  	width: 140px;
}

.example {
float:left;
padding:0 20px;
display:none;
}
.wrapper {
margin:0 auto;
width:133px;
}
div.button {
background:transparent url(/apps/administration/static/images/btupload.png) repeat scroll 0 0;
color:#C7D92C;
font-size:14px;
height:20px;
padding-top:5px;
text-align:center;
width:133px;
}
div.button.hover {
background:transparent url(/apps/administration/static/images/btupload.png) repeat scroll 0 56px;
color:#95A226;
}
#button2.hover {
text-decoration:underline;
}
.error {color:#900000;}  
.success {color:#009900;} 

/* ########################################################################## */

#crear {
	margin-top:20px;
	float:left;
	margin-left:10px;
	width:auto;
	left:auto;
	text-align:center;
	}

#crear .newcontent {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_contenido.jpg);
     	background-repeat:no-repeat;
	width: 225px;
	height: 55px;
	}

#crear .newsource {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_fuente.jpg);
     	background-repeat:no-repeat;
	width: 225px;
	height: 55px;
	}

#crear .updatesource {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_actualizarfuente.jpg);
     	background-repeat:no-repeat;
	width: 225px;
	height: 55px;
	}

#crear .newcollection {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_coleccion.jpg);
     	background-repeat:no-repeat;
	width: 225px;
	height: 55px;
	}

#crear .newchannel {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_canal.jpg);
     	background-repeat:no-repeat;
	width: 225px;
	height: 55px;
	}

#crear .newcategory {
	border-style:none;
      	background-image:url(/apps/administration/static/images/btn_categoria.jpg);
     	background-repeat:no-repeat;
	width: 225px;
	height: 55px;
	}

/* ########################################################################## */

#propiedades {
	margin-top:10px;
	margin-bottom:10px;
	}

/* ########################################################################## */

#footer {
	height:35px;
	background-color:#000;
	color:#999;
	font-size:5px;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:5px;
	clear:both;
	text-align:left;
	font-size:10pt;
	font-style:normal;
	}

#footer .footer2 {
	float:right;
	}

#mainfooter {
	margin:0 auto;
	width:1037px;
	}

/* ########################################################################## */

#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}

.marco {
	border: 1px solid #e3e3e3;
	padding: 3px;
	text-align:left;
	}

.marcoTitulo {
	border: 1px solid #e3e3e3;
	padding: 3px;
	background-color:#eee;
	text-align:left;
	}

/* ########################################################################## */

.menu {
	z-index: 5;
	padding-top:15px;
	width:auto;
	}

#sub a{
	border:none;
	}

#sep {
	height:50px;
	margin-bottom:50px;
	}

#sub li{
	background-color:black;
	border:none;
	width:75px;
	text-align:left;
	padding-left:5px;
	}

#sub .ult{
	padding-bottom:4px;
	}

.sub-menu {
	padding-top:46px;
	position: absolute;
	z-index:12;
	padding-left:51px;
	list-style-type:none;
	float:left;
	display:none;
	}

/* ########################################################################## */

#catalog {
	margin:30px;
	text-align:center;
	}

#catalog li{
	padding:10px;
	list-style-type:none;
	display:inline;
	}

#catalog img {
	border:0;
	}

#actmenu {
	color:white;
	margin-top:20px;
	}

#actmenu a {
	text-decoration:none;
	color:black;
	}

#actmenu h4 {
	height:20px;
	width:60%;
	padding-top:15px;	
	margin-left:15px;	
	}

#actmenu .shadow {
	background-image:url(/apps/administration/static/images/caja_blanca_top.jpg);
     	background-repeat:no-repeat;
	background-position:top;	
	height:48px;
	margin-bottom:-11px;
	}

#actmenu ul{
	margin-top:10px;
     	list-style:none;
	}

#actmenu li{
	background-image:url(/apps/administration/static/images/caja_blanca_middle.jpg);
     	background-repeat:repeat-y;
	width:217px;
	padding-top:5px;
	padding-bottom:5px;
	}

#actmenu .sub{

	border-top:solid 1px #dadada;
	}

#actmenu .finli{
	margin-top:-15px;
	background-image:url(/apps/administration/static/images/caja_blanca_bottom.jpg);
     	background-repeat:no-repeat;
	background-position:bottom;
	border:none;	
	}

/* ########################################################################## */

#actmenu2, #tags_box {
	color:white;
	margin-top:20px;
	margin-left:-25px;
	clear:both;
	}

#actmenu2 a {
	text-decoration:none;
	color:black;
	}


#actmenu2 h4, #tags_box h4 {
	height:20px;
	width:60%;
	padding-top:15px;	
	margin-left:15px;	
	}

#actmenu2 ul, #tags_box ul {
	margin-top:10px;
     	list-style:none;
	}

#actmenu2 li, #tags_box li {
	background-image:url(/apps/administration/static/images/caja_blanca_middle.jpg);
     	background-repeat:repeat-y;
	background-position:top;	
	width:217px;
	padding-top:5px;
	}

#actmenu2 .shadow, #tags_box .shadow {
	background-image:url(/apps/administration/static/images/caja_blanca_top.jpg);
     	background-repeat:no-repeat;
	background-position:top;	
	height:48px;
	margin-bottom:-5px;
	}

#actmenu2 .finli, #tags_box .finli{
	margin-top:-10px;
	background-image:url(/apps/administration/static/images/caja_blanca_bottom.jpg);
     	background-repeat:no-repeat;
	background-position:bottom;		
	}

#spanok{
	float:right;
	padding-right:20px;
	}

/* ########################################################################## */

#versions {
	margin-left:15px;
	margin-top:40px;	
	font-size:10px;
	width:220px;
	height:auto;
	}

#versions .vers {
	border-bottom:solid 1px #CCC;
	padding:5px;
	}


/* ########################################################################## */


/** TAG CLOUD **/
div#tag_cloud {margin-top: 20px;width:100%}
div#tag_cloud a {text-decoration:none;color:black;}
div#tag_cloud span {padding: 20px;}

/** TAGS PORTLET */
div#tags_box ul li span {padding-left: 15px;}
div#tags_box a {color:#b7db86;text-decoration:none;}
div#tags_box a:hover {color:#8cc63e;}

/** SOURCES */
div.source_files {padding-left: 15px;font-size:11px;}



